[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://gitee.com/jackzhang235/gflags.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://gitee.com/jackzhang235/googletest.git
[submodule "third-party/protobuf-mobile"]
	path = third-party/protobuf-mobile
	url = https://gitee.com/jackzhang235/protobuf-mobile.git
[submodule "third-party/protobuf-host"]
	path = third-party/protobuf-host
	url = https://gitee.com/jackzhang235/protobuf-host.git
